<md-content>
	<h3>Chatterom</h3>
	<p>Her kan du chatte uavhengig av om du er innlogget eller ikke</p>
	<p>{{vm.isLoggedInOrNot}}</p>

	<div>
		<p>
			Sort by:
			<select ng-model="orderBy">
				<option>from</option>
				<option>content</option>
				<option>timestamp</option>
			</select>
			Search: <input ng-model="searchText"></p>

		<ul class="chatbox">
	    <!-- arrays are fully sortable and filterable -->
	    <li ng-repeat="message in vm.messages | orderBy:orderBy | filter:searchText">
	      {{ message.from }}: {{ message.content }}

	      <!-- delete a message using $remove -->
	      <a href="" ng-click="vm.messages.$remove(message)"><md-icon class="material-icons">delete</md-icon></a>
	    </li>
	  </ul>

	  <form ng-submit="vm.addMessage()">
	    <input type="text" ng-model="vm.message">
	    <input type="submit">
	  </form>
	</div><!-- end chatCtrl with more HTML code -->

</md-content>